.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.homeIn {
  width: 80vw;
  max-width: 1500px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
}
.bar {
  display: flex;
}
